<div class="min-h-screen">
  <header
    class="bg-gradient-to-t from-governor-bay-200 to-governor-bay-300 py-8 text-center lg:py-16"
  >
    <img [src]="'assets/img/logo.svg'" class="mx-auto h-14 lg:mx-0 lg:h-20 lg:pl-24" />
    <h1
      class="whitespace-pre-line py-6 text-4xl font-extrabold text-governor-bay-900 lg:mb-4 lg:py-16 lg:text-9xl"
    >
      <div class="mx-auto lg:w-[85rem]">Unlocking Social Confidence</div>
    </h1>
    <div class="py-8 text-base font-semibold text-governor-bay-900 lg:py-16 lg:text-4xl">
      <p class="mx-auto w-4/5 lg:w-[75rem]">
        Empowering you to conquer social anxiety and build meaningful connections with confidence.
      </p>
    </div>
    <a
      class="mt-4 inline-block rounded-full bg-outer-space-900 px-20 py-6 hover:bg-outer-space-700 lg:px-40 lg:py-12"
      href="https://mmha.org.my/find-help#find-a-therapist"
      target="_blank"
    >
      <p class="text-xl font-semibold text-governor-bay-200 lg:text-3xl">Need Help?</p>
    </a>
  </header>

  <section class="bg-governor-bay-950 text-center lg:pb-12">
    <img [src]="'assets/img/banner.svg'" class="max-w-screen" />
    <h1 class="py-16 text-base font-semibold text-governor-bay-200 lg:mb-4 lg:text-4xl">
      <div class="mx-auto w-4/5 lg:w-[70%]">
        Social anxiety disorder (SAD) is an anxiety disorder where people fear being judged by
        others and avoid social situations. It goes beyond normal nerves and can be highly
        distressing and impairing.
      </div>
    </h1>
  </section>

  <section class="bg-governor-bay-950 pb-6 lg:pb-12">
    <div
      class="container mx-auto flex flex-col items-center gap-10 border-t-2 border-white py-14 lg:flex-row lg:gap-20 lg:px-10 lg:py-28"
    >
      <div class="lg:w-1/2">
        <img [src]="'assets/img/factors.svg'" class="h-48 rounded-2xl lg:h-96" />
      </div>
      <div class="lg:w-1/2">
        <p class="pb-6 text-2xl font-semibold text-governor-bay-400 lg:text-6xl">
          Factors Social Anxiety
        </p>
        <ul
          class="list-outside list-disc text-base font-semibold text-governor-bay-200 lg:text-4xl"
        >
          <li>Genetic factors</li>
          <li>Overprotective parenting</li>
          <li>Limited social experiences</li>
          <li>Memories of public humiliation</li>
          <li>History of bullying or public humiliation</li>
        </ul>
      </div>
    </div>
    <div
      class="container mx-auto flex flex-col items-center gap-10 border-t-2 border-white py-14 lg:flex-row lg:gap-20 lg:px-10 lg:py-28"
    >
      <div class="lg:hidden lg:w-1/2">
        <img [src]="'assets/img/recognise.svg'" class="h-48 rounded-2xl lg:h-96" />
      </div>
      <div class="lg:w-1/2">
        <p class="pb-6 text-2xl font-semibold text-governor-bay-400 lg:text-6xl">
          Recognise Social Anxiety
        </p>
        <ul
          class="list-outside list-disc text-base font-semibold text-governor-bay-200 lg:text-4xl"
        >
          <li>Fear of criticism.</li>
          <li>Physical symptoms.</li>
          <li>Avoiding social events.</li>
          <li>Fear of embarrassment.</li>
          <li>Occasional panic attacks.</li>
          <li>Difficulty when observed.</li>
          <li>Worrying about everyday activities.</li>
        </ul>
      </div>
      <div class="hidden lg:block lg:w-1/2">
        <img [src]="'assets/img/recognise.svg'" class="h-48 rounded-2xl lg:h-96" />
      </div>
    </div>
    <div
      class="container mx-auto flex flex-col items-center gap-10 border-t-2 border-white px-10 py-14 lg:flex-row lg:gap-20 lg:py-28"
    >
      <div class="lg:w-1/2">
        <img [src]="'assets/img/overcome.svg'" class="h-48 rounded-2xl lg:h-96" />
      </div>
      <div class="lg:w-1/2">
        <p class="pb-6 text-2xl font-semibold text-governor-bay-400 lg:text-6xl">
          Overcome Social Anxiety
        </p>
        <ul
          class="list-outside list-disc text-justify text-base font-semibold text-governor-bay-200 lg:text-4xl"
        >
          <li>
            Reflect on your thoughts and behaviors in social situations like keeping a diary can
            help.
          </li>
          <li>Practice relaxation techniques like stress-relieving breathing exercises.</li>
          <li>Divide daunting situations into smaller steps to ease anxiety gradually.</li>
          <li>Concentrate on what people are saying, instead of assuming the worst.</li>
        </ul>
      </div>
    </div>
  </section>

  <footer class="border-t-2 border-white bg-governor-bay-950 py-8 text-white">
    <div class="container mx-auto text-center">
      <a
        class="text-xl text-blue-400 hover:text-blue-600"
        href="https://ammarportfolio.com/"
        target="_blank"
        >ammarportfolio.com</a
      >
      <p class="pt-3">&copy; 2023 Sociaxity. All rights reserved.</p>
    </div>
  </footer>
</div>
