<div class="h-full w-screen bg-governor-bay-300">
  <div class="flex h-32 w-screen items-center justify-center">
    <img [src]="'assets/img/logo.svg'" class="h-14" />
  </div>
  <div class="flex h-32 w-screen items-center justify-center">
    <p class="text-center text-4xl font-semibold text-governor-bay-900">
      Unlocking Social Confidence
    </p>
  </div>
  <div class="flex h-32 w-screen items-center justify-center">
    <p class="w-4/5 text-center text-base font-semibold text-governor-bay-900">
      Empowering you to conquer social anxiety and build meaningful connections with confidence.
    </p>
  </div>
  <div class="flex h-32 w-screen items-center justify-center">
    <a
      class="flex h-16 w-64 items-center justify-evenly rounded-lg border-2 border-governor-bay-500 bg-gradient-to-t from-governor-bay-500 to-governor-bay-400"
      href="https://mmha.org.my/find-help#find-a-therapist"
      target="_blank"
    >
      <img [src]="'assets/img/buttonhelp.svg'" class="h-14" />
      <p class="text-xl font-semibold text-governor-bay-900">Need help?</p>
    </a>
  </div>

  <div class="flex h-64 w-screen items-center justify-center">
    <iframe
      src="https://www.youtube.com/embed/7taBVNeH_xA?si=pelfh_CqCSKEiw6Z"
      title="YouTube video player"
      allowfullscreen
      class="h-60 w-80"
    ></iframe>
  </div>
</div>
